{{ template "layout" . }}

{{ define "head" }}
{{ end }}

{{ define "main" }}
<div class="container">
    <!-- bootstrap form -->
    <form action="/formsave" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="Enter price">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" class="form-control" id="stock" name="stocks" placeholder="Enter stock">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{{ end }}